* {
    margin: 0;
    padding: 0;
}

body {
    background: #e6e6ff;
}

.tabs {
    width: 550px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #ccc;
}

.tabs__menu {
    width: 540px;
    height: 50px;
    margin: 5px auto;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 2px 0 10px #ccc;
}

.tabs__menu ul {
    padding: 20px 0 0 5px;
}

.tabs__menu li {
    width: 100px;
    height: 30px;
    display: inline-block;
    border: 1px solid #000;
    border-bottom: 0;
    border-radius: 4px;
    background: #ccc;
    list-style: none;
    text-align: center;
    cursor: pointer;
}

.tabs__menu li:hover {
    background: #aaa;
}

.tabs__menu a {
    color: #000;
    line-height: 2;
    font-family: arial, sans-serif;
    text-decoration: none;
}

.tabs__text {
    display: none;
    padding: 10px;
}
